/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&family=Yellowtail&display=swap');

/* Create root color variable so when clicked will use these variable */
:root {
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --sonic-silver: #6c757dff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    --prussian-blue: #173753ff;
    --iceberg: #6daedbff;
    --green-blue-crayola: #2892d7ff;
    --charcoal: #1b4353ff;
    --honolulu-blue: #1d70a2ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(312deg, rgba(2,0,36,1) 0%, rgba(9,60,121,1) 53%, rgba(0,164,255,1) 83%);
    background-attachment: fixed;
}

h1 {
    font-size: 5rem;
    font-family: 'Yellowtail';
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: -6px  0px 0 #212121,  
                 -6px  0px 0 #212121,
                 -6px -6px 0 #212121,  
                 0 36px 36px rgba(0,0,0,.15);
}

.start-btn,
.rules-box,
.questions-box,
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 
                0 6px 20px 0 rgba(0, 0, 0, 0.75);
}

.rules-box.activerules,
.questions-box.activeQuiz,
.result-box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -40%) scale(1);
}

.start-btn button   {
    font-size: 25px;
    font-weight: 500;
    color: var(--cultured);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--sonic-silver);
    cursor: pointer;
}

.start-btn button:hover,
.game-mode button:hover{
    color:var(--onyx);
    font-weight: 500;
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
}

.rules-box{
    width: 540px;
    background: var(--cultured);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.rules-box .rules-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.rules-box .rules-list {
    padding: 15px 30px;
    border-bottom: 1px solid lightgrey;

}

.rules-box .rules-list .games-select {
    text-align: center;
    font-weight: 700;
}

.rules-box .rules-list .rules {
    margin: 5px 0;
    font-size: 17px;
}

.rules-box .rules-list .rules span {
    font-weight: 600;
    color: var(--onyx);
}

.rules-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.rules-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--sonic-silver);
    transition: all 0.6s ease;
}

.game-mode {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-around;
}
.game-mode h2 {
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;

}

.game-mode button{
    color: var(--light-gray);
    background-color: var(--sonic-silver);
    margin: auto;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--sonic-silver);
    transition: all 0.6s ease;
}

.game-mode .group-play {
    display: flex;
    flex-direction: column;
}

.game-mode .selected {
    color: var(--cultured);
    background-color: var(--onyx);
    border: 1px solid var(--onyx);
}

.questions-box  {
    width: 550px;
    background: var(--cultured);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.questions-box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.questions-box header .title{
    font-size: 20px;
    font-weight: 600;
}

.questions-box header .timer{
    color: #004085;
    background: var(--cultured);
    border: 1px solid var(--light-gray);
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.questions-box header .timer .time-remain{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.questions-box header .timer .time{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: var(--cultured);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.questions-box header .time-bar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: var(--cultured);
}

section{
    padding: 25px 30px 20px 30px;
    background: var(--cultured);
}

section .questions{
    font-size: 20px;
    font-weight: 700;
    height: 4rem;
}

section .choices{
    padding: 20px 0px;
    display: block;   
}

section .choices .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .choices .option:last-child{
    margin-bottom: 0px;
}

section .choices .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .choices .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .choices .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .choices .option.disabled{
    pointer-events: none;
}

section .choices .option .icon{
    height: 18px;
    width: 18px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 8px;
    pointer-events: none;
    transition: all 0.6s ease;
    line-height: 16px;
}
.choices .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.choices .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total-ques p{
    display: flex;
    user-select: none;
}

footer .total-ques p span {
    font-weight: 700;
    padding: 0 5px;
}

footer .total-ques p span:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: var(--sonic-silver);
    border: 1px solid var(--sonic-silver);
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.6s ease;
}

footer button:hover{
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result-box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.result-box .icon{
    font-size: 100px;
    color: #ffd700;
    margin-bottom: 10px;
}

.result-box .completed{
    font-size: 20px;
    font-weight: 700;
}

.result-box .score p{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result-box .score p span {
    padding: 0 4px;
    font-weight: 600;
}

.result-box .buttons{
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    transition: all 0.6s ease;
}

.buttons button.restart{
    color: var(--light-gray);
    background: var(--sonic-silver);
}

.buttons button.restart:hover{
    color: var(--onyx);
    background: var(--light-gray);
    border: 1px solid var(--light-gray);
}

.greyed {
    color: var(--sonic-silver);
    background: var(--cultured);
    border:1px solid var(--sonic-silver)!important;
    pointer-events: none;
}

.buttons button.quit{
    color: var(--sonic-silver);
    background: var(--cultured);
}

.buttons button.quit:hover{
    color: var(--cultured);
    background: var(--sonic-silver);
    border: 1px solid var(--sonic-silver);
}